services:
    app:
        build:
            context: ../..
            dockerfile: apps/nomas-colyseus/Dockerfile
        container_name: nomas-colyseus
        ports:
            - "${PORT}:${PORT}"
            - "${COLYSEUS_PORT}:${COLYSEUS_PORT}"
        environment:
            - NODE_ENV=${NODE_ENV}
            - PORT=${PORT}
            - COLYSEUS_PORT=${COLYSEUS_PORT}
            - MONGODB_GAME_HOST=${MONGODB_GAME_HOST}
            - MONGODB_GAME_PORT=${MONGODB_GAME_PORT}
            - MONGODB_GAME_DATABASE=${MONGODB_GAME_DATABASE}
            - MONGODB_GAME_USERNAME=${MONGODB_GAME_USERNAME}
            - MONGODB_GAME_PASSWORD=${MONGODB_GAME_PASSWORD}
            - REDIS_COLYSEUS_HOST=${REDIS_COLYSEUS_HOST}
            - REDIS_COLYSEUS_PORT=${REDIS_COLYSEUS_PORT}
            - REDIS_COLYSEUS_USERNAME=${REDIS_COLYSEUS_USERNAME}
            - REDIS_COLYSEUS_PASSWORD=${REDIS_COLYSEUS_PASSWORD}
            - REDIS_COLYSEUS_REQUIRE_PASSWORD=${REDIS_COLYSEUS_REQUIRE_PASSWORD}
            - REDIS_THROTTLER_HOST=${REDIS_THROTTLER_HOST}
            - REDIS_THROTTLER_PORT=${REDIS_THROTTLER_PORT}
            - REDIS_THROTTLER_USERNAME=${REDIS_THROTTLER_USERNAME}
            - REDIS_THROTTLER_PASSWORD=${REDIS_THROTTLER_PASSWORD}
            - REDIS_THROTTLER_REQUIRE_PASSWORD=${REDIS_THROTTLER_REQUIRE_PASSWORD}
            - REDIS_CACHE_HOST=${REDIS_CACHE_HOST}
            - REDIS_CACHE_PORT=${REDIS_CACHE_PORT}
            - REDIS_CACHE_USERNAME=${REDIS_CACHE_USERNAME}
            - REDIS_CACHE_PASSWORD=${REDIS_CACHE_PASSWORD}
            - REDIS_CACHE_REQUIRE_PASSWORD=${REDIS_CACHE_REQUIRE_PASSWORD}
            - JWT_SECRET=${JWT_SECRET}
            - JWT_REFRESH_TOKEN_EXPIRATION=${JWT_REFRESH_TOKEN_EXPIRATION}
            - JWT_ACCESS_TOKEN_EXPIRATION=${JWT_ACCESS_TOKEN_EXPIRATION}
            - SENTRY_DSN=${SENTRY_DSN}
            - SENTRY_TRACES_SAMPLE_RATE=${SENTRY_TRACES_SAMPLE_RATE}
            - LOKI_HOST=${LOKI_HOST}
            - LOKI_USERNAME=${LOKI_USERNAME}
            - LOKI_PASSWORD=${LOKI_PASSWORD}
            - GRAPHQL_ADMIN_USERNAME=${GRAPHQL_ADMIN_USERNAME}
            - GRAPHQL_ADMIN_PASSWORD=${GRAPHQL_ADMIN_PASSWORD}
            - COLYSEUS_ADMIN_USERNAME=${COLYSEUS_ADMIN_USERNAME}
            - COLYSEUS_ADMIN_PASSWORD=${COLYSEUS_ADMIN_PASSWORD}
            - KAFKA_HOST=${KAFKA_HOST}
            - KAFKA_PORT=${KAFKA_PORT}
            - KAFKA_SASL_USERNAME=${KAFKA_SASL_USERNAME}
            - KAFKA_SASL_PASSWORD=${KAFKA_SASL_PASSWORD}
            - KAFKA_SASL_MECHANISM=${KAFKA_SASL_MECHANISM}
            - KAFKA_SASL_ENABLED=${KAFKA_SASL_ENABLED}
        restart: unless-stopped
networks:
    nomas-network:
        external: true
