name: Build and Run with Docker Compose

on:
    push:
        branches:
            - main
        paths:
            - "apps/nomas-colyseus/**"
            - "src/**"
            - "package.json"
            - "nest-cli.json"
            - "tsconfig*.json"
            - ".github/workflows/deploy-colyseus.yml"
    workflow_dispatch:

jobs:
    build-and-run:
        runs-on: self-hosted
        environment: nomas-colyseus

        steps:
            - name: Checkout source code
              uses: actions/checkout@v4

            - name: Build and run Docker Compose
              env:
                  NODE_ENV: ${{ vars.NODE_ENV }}
                  PORT: ${{ vars.PORT }}
                  COLYSEUS_PORT: ${{ vars.COLYSEUS_PORT }}
                  MONGODB_GAME_HOST: ${{ vars.MONGODB_GAME_HOST }}
                  MONGODB_GAME_PORT: ${{ vars.MONGODB_GAME_PORT }}
                  MONGODB_GAME_DATABASE: ${{ vars.MONGODB_GAME_DATABASE }}
                  REDIS_COLYSEUS_HOST: ${{ vars.REDIS_COLYSEUS_HOST }}
                  REDIS_COLYSEUS_PORT: ${{ vars.REDIS_COLYSEUS_PORT }}
                  REDIS_COLYSEUS_REQUIRE_PASSWORD: ${{ vars.REDIS_COLYSEUS_REQUIRE_PASSWORD }}
                  REDIS_THROTTLER_HOST: ${{ vars.REDIS_THROTTLER_HOST }}
                  REDIS_THROTTLER_PORT: ${{ vars.REDIS_THROTTLER_PORT }}
                  REDIS_THROTTLER_REQUIRE_PASSWORD: ${{ vars.REDIS_THROTTLER_REQUIRE_PASSWORD }}
                  REDIS_CACHE_HOST: ${{ vars.REDIS_CACHE_HOST }}
                  REDIS_CACHE_PORT: ${{ vars.REDIS_CACHE_PORT }}
                  REDIS_CACHE_REQUIRE_PASSWORD: ${{ vars.REDIS_CACHE_REQUIRE_PASSWORD }}
                  REDIS_CACHE_TTL: ${{ vars.REDIS_CACHE_TTL }}
                  AUTH_SIGNATURE_DURATION: ${{ vars.AUTH_SIGNATURE_DURATION }}
                  JWT_REFRESH_TOKEN_EXPIRATION: ${{ vars.JWT_REFRESH_TOKEN_EXPIRATION }}
                  JWT_ACCESS_TOKEN_EXPIRATION: ${{ vars.JWT_ACCESS_TOKEN_EXPIRATION }}
                  LOKI_HOST: ${{ vars.LOKI_HOST }}
                  KAFKA_HOST: ${{ vars.KAFKA_HOST }}
                  KAFKA_PORT: ${{ vars.KAFKA_PORT }}
                  KAFKA_CLIENT_ID: ${{ vars.KAFKA_CLIENT_ID }}
                  KAFKA_SASL_MECHANISM: ${{ secrets.KAFKA_SASL_MECHANISM }}
                  KAFKA_SASL_ENABLED: ${{ vars.KAFKA_SASL_ENABLED }}
                  BULLMQ_COMPLETED_JOB_COUNT: ${{ vars.BULLMQ_COMPLETED_JOB_COUNT }}
                  BULLMQ_FAILED_JOB_COUNT: ${{ vars.BULLMQ_FAILED_JOB_COUNT }}
                  MONGODB_GAME_USERNAME: ${{ secrets.MONGODB_GAME_USERNAME }}
                  MONGODB_GAME_PASSWORD: ${{ secrets.MONGODB_GAME_PASSWORD }}
                  REDIS_COLYSEUS_USERNAME: ${{ secrets.REDIS_COLYSEUS_USERNAME }}
                  REDIS_COLYSEUS_PASSWORD: ${{ secrets.REDIS_COLYSEUS_PASSWORD }}
                  REDIS_THROTTLER_USERNAME: ${{ secrets.REDIS_THROTTLER_USERNAME }}
                  REDIS_THROTTLER_PASSWORD: ${{ secrets.REDIS_THROTTLER_PASSWORD }}
                  REDIS_CACHE_USERNAME: ${{ secrets.REDIS_CACHE_USERNAME }}
                  REDIS_CACHE_PASSWORD: ${{ secrets.REDIS_CACHE_PASSWORD }}
                  JWT_SECRET: ${{ secrets.JWT_SECRET }}
                  COLYSEUS_ADMIN_USERNAME: ${{ secrets.COLYSEUS_ADMIN_USERNAME }}
                  COLYSEUS_ADMIN_PASSWORD: ${{ secrets.COLYSEUS_ADMIN_PASSWORD }}
                  GRAPHQL_ADMIN_USERNAME: ${{ secrets.GRAPHQL_ADMIN_USERNAME }}
                  GRAPHQL_ADMIN_PASSWORD: ${{ secrets.GRAPHQL_ADMIN_PASSWORD }}
                  KAFKA_SASL_USERNAME: ${{ secrets.KAFKA_SASL_USERNAME }}
                  KAFKA_SASL_PASSWORD: ${{ secrets.KAFKA_SASL_PASSWORD }}
                  LOKI_USERNAME: ${{ secrets.LOKI_USERNAME }}
                  LOKI_PASSWORD: ${{ secrets.LOKI_PASSWORD }}
              run: |
                  cd apps/nomas-colyseus
                  docker compose down --remove-orphans
                  docker compose up -d --build

            - name: Check service status
              run: |
                  cd apps/nomas-colyseus
                  docker compose ps
